# node / react
node_modules/
.next/
dist/
build/
.parcel-cache/
# python
__pycache__/
.venv/
*.pyc
.pytest_cache/
# serverless / sam
.serverless/
.aws-sam/
# env / secrets
.env
.env.*
# os/editor
.DS_Store
.idea/
.vscode/

